<h1>回答</h1>
<p><%= link_to '削除', problem_post_path(@problem, @post),
      data: { turbo_method: 'delete', turbo_confirm: '削除すると復元できません。削除しますか？' }%></p>
<p><%= @post.content %></p>
<h2>フィードバック</h2>
<p><%= @generated_text %></p>

<br>
<h2>問題</h2>
<p>
  タイトル:
  <%= @problem.title %>
</p>
<p>
  お題:<br>
  <%= @problem.content %>
</p>
<p>
  <% if @problem.image.present? %>
    <%= image_tag @problem.image %>
  <% end %>
</p>

<h2>このお題に対する回答一覧</h2>
<div>
  <ul>
    <% @problem_posts.each do |problem_post| %>
      <li>
        <%= problem_post.content %>
        <% if current_user.liked_posts.include?(problem_post) %>
          <%= button_to 'Unlike', problem_post_like_path(problem_post.problem_id, problem_post.id, current_user.likes.find_by(post_id: problem_post.id)), method: :delete %>
        <% else %>
          <%= button_to 'Like', [@problem, problem_post, :likes], method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
